<main role="main" class="container">
  <div class="starter-template">
    <h1>Basta Game</h1>
    <p>Bienvenido:</p>
    <p class="lead" id="usuario">

    </p>

    <p class="lead" id="sala">

    </p>

    <div class="row">
      <div class="col">
        <button class="btn btn-success" onclick="aceptar();" id="aceptar">
          Entrar
        </button>
        <button class="btn btn-success" onclick="clickPlay();" style="display: none;" id="clickPlay">
          Jugar
        </button>
      </div>
    </div>


    <div class="row" style="display: none;" id="containerForms">
      <div class="col">
        <p>Letra:</p>
        <p id="letra"></p>
        <input type="text" id="nombre" placeholder="nombre">
        <input type="text" id="color" placeholder="color">
        <input type="text" id="fruto" placeholder="fruto">
        <button class="btn btn-success" id="btn-basta" onclick="basta();">
          Basta!
        </button>
      </div>
    </div>

    <p class="lead" id="ganador">

    </p>
    <p id="puntos">

    </p>
  </div>
</main>